/* .App {
  
} */

input {
  background-color: lightblue;
  border: 2px solid rgb(60, 118, 136);
}

.form-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.form {
  top: 50%;
  color: lightblue;
  margin: 30px;
  padding: 20px;
  border: 3px solid rgb(24, 24, 88);
}

.form-submit {
  color: lightblue;
  background-color: black;
  margin: 30px;
  padding: 20px;
  border: 3px solid rgb(24, 24, 88);
  font-weight: bolder;
  font-size: xx-large;
}

.loading-thing-list {
  position: absolute;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  border: 5px solid rgb(24, 24, 88);
  height: 15px;
  width: 400px;
  margin: 30px;  
  padding: 20px;
}

.loading-thing {
  top: 35%;
  right: 10%;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  position: absolute;
  background-color: lightblue;
}

@keyframes move {
  from {
    left: 10%;
  }
  to {
    left: 80%;
  }
}