/* .App {
  
} */




.loading-thing {
  animation: move 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s infinite alternate both;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: lightblue;
}

@keyframes move {
  from {
    left: 10%;
  }
  to {
    left: 90%;
  }
}