.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: #112;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: auto;
}

.form-list {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 95%;
}  

@media (max-width: 800px) {
  .form-list {
    flex-direction: column !important;
  }
  input {
    width: 95% !important;
  }
}

.loading-thing-list {
  position: relative;
  display: flex;
  border: 1vmin solid rgb(24, 24, 88);
  height: 1.7vmin;
  width: 26vmin; 
  padding: 2vmin;
  margin-top: 4vmin;
}  

.title-thingy {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  font-size: 10vmin;
  color: rgb(255, 50, 50);
  margin: 4vmin;
}  

.happy {
  color: whitesmoke;
  text-align: center;
  margin: 5vmin;
  position: relative;
  font-size: 4vmin;
  font-weight: 500;
}

.form {
  color: lightblue;
  margin: 4vmin;
  padding: 2vmin;
  border: 1vmin solid rgb(24, 24, 88);
  font-size: 3vmin;
}  

.form-submit {
  color: lightblue;
  background-color: black;
  margin: 4vmin;
  padding: 2vmin;
  border: 1vmin solid rgb(24, 24, 88);
  font-weight: bolder;
  font-size: 5vmin;
}  

.loading-thing {
  top: 35%;
  right: 10%;
  width: 2vmin;
  height: 2vmin;
  border-radius: 10%;
  position: absolute;
  background-color: lightblue;
}  

input {
  background-color: lightblue;
  border: 0.3vmin solid rgb(60, 118, 136);
  width: 12vmin;
}  

.冰淇淋 {
  position: relative;
  width: 1241vmin;
  height: 10000%;
  color: white;
}  

@keyframes move {
  from {
    left: 10%;
  } to {
    left: 80%;
  }
}
